<header>
  <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Logo Pokédex" />
</header>
<nav>
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
    <li><a href="/details">Details</a></li>
    <!-- <li><a href="">Contact</a></li> -->
  </ul>
</nav>
<% if(message != "") {  %>
  <section id="message">
      <p><%= message %></p> <span id="close">&times;</span>
  </section>
<% } %>