<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Pokédex</title>
  </head>
  <STYLE>A {text-decoration: none;} </STYLE>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="one">
        <% if (typeof pokedex === "undefined") { %> 
            <%element=pokemon%>
            <%- include('./partials/cardDetails.ejs') %>
        <% } else if (typeof pokemon === "undefined") { %>
            <%element=pokedex%>
            <%- include('./partials/cardDetails.ejs') %>
        <% } %>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>