@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: Roboto, Arial;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: brown;
    align-items: center;
}

header h1{
    margin: 3rem;
    color: white;
    /* font-size: 2rem; */
    text-align: center;
}
main{
    margin: 2rem;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section div.card{
    margin:2rem;
    padding: 3rem;
    width: 10vw;
    height:20vw ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px 10px #00000020;
}

section div.card .name{
    display: flex;
    justify-content: center;
    width: 15%;
    text-align: center;
}

section div.card .img{
    display: flex;
    justify-content: center;
    width: 150%;
}

section div.card .type{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 15%;
}

footer{
    position: relative;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: brown;
    align-items: center; 
}

footer h3{
    margin: 2rem;
    color: white;
    text-align: center;
}
